.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.word {
  max-width: 15rem;
  margin: 40px;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 whitesmoke, 0 5px 20px grey;
  background-color: #fff;
  transition: all 100ms ease-in-out;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 300px;
  width: 500px;
  dt {
    color: #2ec2b0;
    line-height: 1;
    p {
      font-size: 200%;
      font-weight: 900;
    }
    .emoji {
      margin: 0 auto 20px;
      display: block;
      font-size: 400%;
    }
    dd {
      margin-bottom: 0.25rem;
      font-weight: 600;
      font-size: inherit;
      text-align: right;
    }
  }

  .button-div {
    align-items: center;
  }

  .button-definition {
    width: 100%;
    background-color: turquoise;
    margin-top: 40px;
    border-style: none;
    border-radius: 15px;
    font-size: 15px;
    color: #84a9ac;
    outline: none;
    padding: 15px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .word-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .word {
    height: 300px;
    width: 500px;
  }
}
